@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --background: #121212; /* Dark background */
  --foreground: #e0e0e0; /* Light foreground */
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  @apply bg-background text-foreground;
  font-family: var(--font-geist-sans); /* Apply custom font */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
